<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.igormatos.botaprarodar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".common.BprApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.returnbicycle.ReturnBicycleActivity"
            android:exported="false"
            android:label="@string/title_activity_return_bicycle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.main.HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.bikewithdraw.FinishWithdrawActivity"
            android:exported="true"
            android:label="@string/title_activity_finish_withdraw"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.returnbicycle.FinishReturnBikeActivity"
            android:exported="true"
            android:label="@string/title_activity_finish_withdraw"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".presentation.login.selectCommunity.SelectCommunityActivity" />
        <activity android:name=".presentation.login.registration.RegisterActivity" />
        <activity android:name=".presentation.login.passwordRecovery.PasswordRecoveryActivity" />
        <activity android:name=".presentation.login.signin.LoginActivity" />
        <activity
            android:name=".presentation.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.main.trips.tripDetail.TripDetailActivity" />
        <activity android:name=".presentation.createcommunity.AddCommunityActivity" />
        <activity android:name=".presentation.user.UserActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".presentation.bikeForm.BikeFormActivity" />
        <activity android:name=".presentation.returnbicycle.ReturnBikeActivity" />
        <activity android:name=".presentation.components.WithdrawStepperActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
